body, html{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
#main-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    gap: 0;
 
}

#header{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

    

#intro-text{
  margin-right: 45%;
}


input[type="search"] {
  width: 60%;
  margin-right: 10%;
  background-color: #E8F1F8;
  border: 1px solid #ccc; 
  border-radius: 20px;
  padding: 10px;
  
}
button {
    background-color: #0284c7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    width: min-content;
    font-size: 18px;
    cursor: pointer;
  }
  
button:hover {
    background-color: deepskyblue;
  }
#header > div > svg{
  fill: black;
}

#sidebar{
    background-color: #0284c7;
    grid-area: 1 / 1 / 3/ 2;
    padding-left: 5%;
    padding-top: 5%;
 }

.profile-pic{
  width: 50px;
  height: 50px;
}


#sidebar > ul, h1 {
    list-style: none;
    color: white;
    margin: 0;
    padding: 0;

    
}

#sidebar > ul {
    margin-top: 10%;
}

#sidebar > ul > li {
    text-align: left;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
    margin-top: 5%;
    margin-left: 5%;
    

}

.icon-image{
    height: 1rem;
}


svg{
  fill: white;
  width: 1.5rem; 
  height: 1.5rem; 
  vertical-align: top;
  padding-right: 1rem;
  
}

#dashboard > h2 {
  display: inline; 
}

#dashboard > svg {
    fill: white;
  width: 2.5rem; 
  height: 2.5rem; 
  vertical-align: top;
  padding-right: 1rem;
}



#content{
    display: grid;
    gap: 20px;
    grid-template: 1fr 1fr 1fr / 3fr 3fr 2fr;
    padding: 40px 30px 40px 30px;
    background-color: #E8F1F8;
    grid-area: 2 / 2 / 3 / 3;
}
.content-item{
    background-color: white;
    border-left: 8px solid orange; 
    border-radius: 12px;
    padding: 15px;
    

}

#content svg{
    fill: black;
    text-align: right;
    
}

.svg-container{
    text-align: right;
    margin-top: 15%;
}
:not(.content-item) p {
    /* Reset or specify the styles for <p> elements outside of .content-item */
    /* For example, you can set margin, padding, color, etc. to their default values */
    margin: 0;
    padding: 0;
    color: inherit; /* inherit the color from the parent */
  }